<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %> 
<body>

        <%- include('./partial/nav.ejs') %> 
    <div class="about">
        <div class="content">
            <h1 >About Adamsonic</h1>
            <p>Adamsonic Medical and Physiotherapy Rehabilitation Equipment service has over 25yrs experience in production of prosthesis and orthosis
                gadgets, repair and creating specilized medical and Physiotherapy equipments. <br>
                <br>
                Our products are specifically designed by high stsandard professionals to produce expected results with the comfort and result in mind.
                <br> <br>
                We also specilized in producing bespoke equipment to fit to every special need of our clients with special request. <br> <br>
                We also provide consultation service in and around Lagos. Across the country, We are the best with our experience and results speaking for us over the years.
            </p>
        </div>
    </div>
    <%- include('./partial/footer.ejs') %> 
</body>
</html>