<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <%- include('./partial/nav.ejs') %>
    <!-- The work begins from here -->
    <section id="mobile">
      <div class="goods">
        <div id="working">
          <div class="workImg">
            <img
              src="./images/cerebral pulley chair.jpg"
              id="SalesImage"
              alt=""
            />
            <h3 id="NamePrice">
              Cerebral Palsy Chair<span>
                ₦17,000 - ₦35,000 <br />
                <h5>Depending on the age and height of the patients</h5></span
              >
            </h3>
          </div>

          <div class="description">
            <div class="desc">
              <h3>description</h3>
              <p>
                According to the part of the brain that is impacted, cerebral
                palsy, often known as CP, is a neuromuscular condition of the
                central nervous system. The distribution of the disability is
                used to categorize the various levels of disability. Along with
                potentially causing seizures and other sensory problems, CP can
                also show a variety of behavioral or cognitive abilities.
              </p>
              <button id="hide" onclick="view(11)">How to use</button>
            </div>
            <div id="view"></div>
            <h4 id="sucess"></h4>

            <div class="order">
              <button onclick="increment(1)">-</button>
              <span id="display">0</span>
              <button onclick="increment(2)">+</button>
            </div>
            <div id="cart">
              <button onclick="cart(11)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partial/footer.ejs') %>
    </section>

    <%- include('./partial/jsLinks.ejs') %>
  </body>
</html>
