<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %> 
<body>
    <%- include('./partial/nav.ejs') %> 


    <div class="contact">
        <div class="content">
            <p>Location : 82 Ibidun street Ojuelegba <br>
              contact : 2348034004726 / 2348095117774 <br>
            We are always available 24hrs</p>
        </div>
       
    </div>

    <%- include('./partial/jsLinks.ejs') %>

</body>
</html>