<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %> 
<body>
        <%- include('./partial/nav.ejs') %> 
        <br> <br> <br> <br>
    <div class="form">
        <form action="/" method="post">
                    <h3>Please provide your details for a successful delivery
                </h3>
                <input type="email" placeholder="Email" name="email" required>
                <input type="submit" value="continue">
        </form>
    </div>
        <br> <br> 
    
        <%- include('./partial/footer.ejs') %> 
    
</body>
</html>