<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <%- include('./partial/nav.ejs') %>
    <!-- The work begins from here -->
    <section id="mobile">
      <div class="goods">
        <div id="working">
          <div class="workImg">
            <img src="./images/foot rise kid.jpg" id="SalesImage" alt="" />
            <h3 id="NamePrice">
              Dynamic Foot Rise children <br /><span>₦4,000</span>
            </h3>
          </div>

          <div class="description">
            <div class="desc">
              <h3>description</h3>
              <p>
                Foot rise helps a patient with leg or ankle injury to the rising
                of the body by pushing up onto the balls of the feet through the
                flexing of the ankles.
              </p>
              <button id="hide" onclick="view(23)">How to use</button>
            </div>
            <div id="view"></div>
            <h4 id="sucess"></h4>

            <div class="order">
              <button onclick="increment(1)">-</button>
              <span id="display">0</span>
              <button onclick="increment(2)">+</button>
            </div>
            <div id="cart">
              <button onclick="cart(23)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partial/footer.ejs') %>
    </section>

    <%- include('./partial/jsLinks.ejs') %>
  </body>
</html>
