<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <%- include('./partial/nav.ejs') %>
    <!-- The work begins from here -->
    <section id="mobile">
      <div class="goods">
        <div id="working">
          <div class="workImg">
            <img
              src="./images/parallel bar matalic.jpg"
              id="SalesImage"
              alt=""
            />
            <h3 id="NamePrice">parallel bar metalic<span> ₦150,000</span></h3>
          </div>

          <div class="description">
            <div class="desc">
              <h3>description</h3>
              <p>
                In the physical therapy clinic, parallel bars are two bars that
                are spaced apart by a given amount of feet. The parallel bars
                are held aloft by metal adjustable legs that can be adjusted.
                These legs enable the bars to be adjusted up or down to
                accommodate users of various heights.
              </p>
              <button id="hide" onclick="view(17)">How to use</button>
            </div>
            <div id="view"></div>
            <h4 id="sucess"></h4>

            <div class="order">
              <button onclick="increment(1)">-</button>
              <span id="display">0</span>
              <button onclick="increment(2)">+</button>
            </div>
            <div id="cart">
              <button onclick="cart(17)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partial/footer.ejs') %>
    </section>

    <%- include('./partial/jsLinks.ejs') %>
  </body>
</html>
