<!DOCTYPE html>
    <%- include('./partial/head.ejs') %>
<body>
  <%- include('./partial/nav.ejs') %>
    <br>
    <div class="topic">
        <h2>Physiotherapy equipment</h2>
    </div>

    <div class="row">
      <div class="col"  onclick="product(1)">
        <img src="./images/Reciprocal pulley.jpg" height="230px"  class="card-img-top" alt="...">
        <h5 class="card-title">Reciprocal pulley <br> Local: ₦4,000 </h5>
      </div>
          <div class="col"  onclick="product(2)">
            <img src="./images/wobble board.jpg" height="230px"  class="card-img-top" alt="...">
            <h5 class="card-title">Wobble Board<br> Local: ₦18,000 </h5>
          </div>
      </div>

    <div class="row">
      <div class="col"  onclick="product(3)">
        <img src="./images/cork-up splint.jpg" class="card-img-top"  alt="...">
        <h5 class="card-title">Cork-up Splint (adult) <br> ₦7,000</h5>
      </div>

      <div class="col"  onclick="product(4)">
        <img src="/images/child walker box.jpg" height="230px"  class="card-img-top" alt="...">
        <h5 class="card-title">Child Walker Box  <br> ₦20,000</h5>
      </div>
</div>


<div class="row">
  <div class="col"  onclick="product(5)">
    <img src="./images/lumber roll.jpg" height="230px"  class="card-img-top" alt="...">
    <h5 class="card-title">Lumbar Roll  <br> ₦7,000</h5>
  </div>

  <div class="col"  onclick="product(6)">
    <img src="./images/finger-ladder.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Finger-ladder <br> ₦100,000</h5>
  </div>
</div>

<div class="row">
  <div class="col"  onclick="product(7)">
    <img src="./images/posterior limb.jpg" height="230px" class="card-img-top" alt="...">
    <h5 class="card-title">Posterior Limb (Adult)  <br> ₦10,000</h5>
  </div>

      <div class="col"  onclick="product(8)">
        <img src="./images/back slab.jpg" height="230px" class="card-img-top" alt="...">
        <h5 class="card-title"> Back Slab <br> ₦13,000 (Adult)</h5>   
    </div>
</div>

<div class="row">
  <div class="col"  onclick="product(9)">
    <img src="./images/trunk support.jpg" height="230px"  class="card-img-top" alt="...">
    <h5 class="card-title">Trunk Support <br>  ₦50,000</h5>
  </div>
    <div class="col"  onclick="product(10)">
      <img src="./images/studing frames.jpg" height="230px" class="card-img-top" alt="...">
      <h5 class="card-title">Standing Frames
      <br>From ₦15,000 -  ₦25,000 <br>
    <strong>Depending on the age and height of the patients </strong>  </h5>
  </div>
</div>

    
<div class="row">
    <div class="col"  onclick="product(11)">
      <img src="./images/cerebral pulley chair.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Cerebral Pulley Chair  <br> ₦17,000 - ₦35,000 <br>
        <strong>Depending on the age and height of the patients </strong> </h5>
     </h5>
    </div>

    <div class="col"  onclick="product(12)">
      <img src="./images/long cork-up slints.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Cork-up Splints (children) <br> ₦5000</h5>
    </div>
  </div>

  <div class="row">
  <div class="col"  onclick="product(13)">
    <img src="./images/posterior limb.jpg" height="230px" class="card-img-top" alt="...">
    <h5 class="card-title">Posterior Limb (children) <br> ₦5,000</h5>
  </div>
  <div class="col"  onclick="product(14)">
    <img src="./images/back slab.jpg" height="230px" class="card-img-top" alt="...">
    <h5 class="card-title">Back Slab (children) <br> ₦4,000 - ₦8,000</h5>
  </div>
  </div>

  <div class="row">
    <div class="col"  onclick="product(15)">
      <img src="./images/quoriceps benches.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Quadriceps Benches  <br> ₦18,000</h5>
     </h5>
    </div>

    <div class="col"  onclick="product(16)">
      <img src="./images/tunnel bath.jpg" height="230px" class="card-img-top" alt="...">
      <h5 class="card-title">Tunnel Bath <br> ₦250,000</h5>
    </div>

  </div>

  <div class="row">
    <div class="col"  onclick="product(17)">
      <img src="./images/parallel bar matalic.jpg" height="230px" class="card-img-top" alt="...">
      <h5 class="card-title">Parallel Bar Matalic <br> ₦150,000</h5>
    </div>

    <div class="col"  onclick="product(18)">
      <img src="./images/parallel bar stainless.jpg" height="230px" class="card-img-top" alt="...">
      <h5 class="card-title">Parallel Bar Stainless <br> ₦300,000</h5>
    </div>
  </div>

  <div class="row">
    <div class="col"  onclick="product(19)">
      <img src="./images/aeroplane splints.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Aeroplane Splints <br> ₦5,000 </h5>
    </div>

    <div class="col"  onclick="product(20)">
      <img src="./images/sand bags.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title"> Sand Bags <br> <strong> 1kg-₦1,500, 1.5kg-₦2,000, 2kg-₦2,500, 2.5kg-₦3,000, 3kg-₦3,000, 4kg-₦4,500, 4kg-₦5,500 </strong> </h5>
    </div>
    </div>

    

    <div class="row">
    <div class="col"  onclick="product(21)">
      <img src="./images/wall ladder.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Wall Ladder / Wall Bar  <br> ₦80,000 - ₦120,000
   </h5>
    </div>

    <div class="col"  onclick="product(22)">
      <img src="./images/hamstring.jpg" height="230px"  class="card-img-top" alt="...">
      <h5 class="card-title">Hamstring Broad  <br> ₦18,000
   </h5>
    </div>
    </div>

  <div class="row">
    <div class="col"  onclick="product(23)">
      <img src="./images/foot rise kid.jpg" height="230px"  class="card-img-top" alt="...">
       <h5 class="card-title">Dynamic Foot Rise children  <br> ₦4,000</h5>
    </div>
  
   <div class="col"  onclick="product(24)">
      <img src="./images/cork up adult.jpg" class="card-img-top" height="350px" alt="...">
      <h5 class="card-title">Long Cork Up Adult<br> ₦14,000</h5>
  </div>
  </div>

  <div class="row">

    <div class="col"  onclick="product(25)">
      <img src="./images/shoulder support.png" class="card-img-top" height="350px" alt="...">
      <h5 class="card-title">Shoulder Support<br> ₦7,000</h5>
  </div>

    <div class="col"  onclick="product(26)">
      <img src="./images/foot rise.jpg" height="230px"  class="card-img-top" alt="...">
       <h5 class="card-title">Dynamic foot rise Adult <br> ₦6,000</h5>
    </div>
  </div>

  <div class="row">

    <div class="col"  onclick="product(27)">
      <img src="./images/cork up kid.jpg" class="card-img-top" height="350px" alt="...">
      <h5 class="card-title">Long Cork Up children<br> ₦5,000</h5>
  </div>

    <div class="col"  onclick="product(28)">
      <img src="./images/above knee amputee.jpg" height="230px"  class="card-img-top" alt="...">
       <h5 class="card-title"> Artificial Leg (Above the knee amputee)<br>₦900,000 - ₦1,500,000</h5>
    </div>
  </div>

  <div class="row">
  <div class="col"  onclick="product(29)">
    <img src="./images/below knee amputee.jpg" height="230px"  class="card-img-top" alt="...">
     <h5 class="card-title"> Artificial Leg (below the knee amputee)<br>₦600,000 - ₦9,000,000</h5>
  </div>

  <div class="col"  onclick="product(30)">
    <img src="./images/stiar case.jpg" height="230px"  class="card-img-top" alt="...">
     <h5 class="card-title"> Stair case (children)<br>₦100,000</h5>
  </div>
</div>

<div class="row">
<div class="col"  onclick="product(31)">
  <img src="./images/stair csae adult.jpg" height="230px"  class="card-img-top" alt="...">
   <h5 class="card-title"> Stair case (children)<br>₦250,000</h5>
</div>

<div class="col"  onclick="product(31)">
  <img src="./images/stair csae adult.jpg" height="230px"  class="card-img-top" alt="...">
   <h5 class="card-title"> Stair case (children)<br>₦250,000</h5>
</div>
</div>

    <div class="product">
      <div class="row row-cols-1 row-cols-md-3 g-4">

          <!-- <div class="col" onclick="product(1)">
            <div class="card h-100">      
              <img src="./images/prosthetic leg.jpg" height="230px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">prosthetic leg (Above knee) ₦1,500,000</h5>
                <p class="card-text">Prosthetic legs, or prostheses, can help people with leg amputations get around more easily. They mimic the function and, sometimes, even the appearance of a real leg. Some people still 
                  need a cane, walker or crutches to walk with a prosthetic leg, while others can walk freely..</p>
              </div>
            </div>
        </div> -->
         
            <!-- <div class="col"  onclick="product(2)">
              <div class="card h-100">
                <img src="./images/hamstring.jpg" height="230px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hamstring</h5>
                  <p class="card-text">An individualized physical therapy treatment plan for your hamstring tear 
                    can help you manage pain, regain strength and improve range of motion and mobility.</p>
                </div>
              </div>
            </div>
            
            <div class="col" onclick="product(3)">
              <div class="card h-100">
                <img src="./images/cork-up splint2.jpg" height="230px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cork-up splint (kids)</h5>
                  <p class="card-text">Cock-up style wrist splints securely and comfortably immobilize and protect one's wrist, as needed for treating a variety of wrist injuries and conditions. <br>
                    It's designed to immobilize the hand in the position of function (dorsal extension) during healing (as of a fracture).</p>
                </div>
              </div>
            </div>

            <div class="col"  onclick="product(4)">
              <div class="card h-100">
                <img src="./images/cork-up splint.jpg" height="230px"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cork-up splint (Adult)</h5>
                  <p class="card-text">Cock-up style wrist splints securely and comfortably immobilize and protect one's wrist, as needed for treating a variety of wrist injuries and conditions. <br>
                    It's designed to immobilize the hand in the position of function (dorsal extension) during healing (as of a fracture).</p>
                </div>
            </div>
        </div>

        <div class="col" onclick="product(5)">
            <div class="card h-100">
              <img src="./images/Aeroplane splint.jpg" height="230px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Aeroplane splint</h5>
                <p class="card-text">The aeroplane splint is a well known method for maintaining abduction at the axilla.
                   It is often used as an adjunct to achieve graft immobilisation following axillary contracture release or hidradenitis surgery.</p>
              </div>
            </div>
          </div>
          <div class="col"  onclick="product(6)">
            <div class="card h-100">
              <img src="./images/finger-ladder.jpg" height="230px"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Finger-ladder</h5>
                <p class="card-text">Finger ladders are physical therapy tools often used to progressively restore range of motion to the shoulder, elbow and wrist joints.
                   Typically, these tools are used as part of a rehabilitation program after injury to the rotator cuff or other joint injury.</p>
              </div>
            </div>
          </div> -->
          <!-- <div class="col" onclick="product(7)">
            <div class="card h-100">
              <img src="./images/long cork-up slints.jpg" height="230px"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">long cork-up slints (children)</h5>
                <p class="card-text">Cock-up style wrist splints securely and comfortably immobilize and protect one's wrist, 
                  as needed for treating a variety of wrist injuries and conditions.</p>
              </div>
            </div>
          </div>
          <div class="col" onclick="product(8)">
            <div class="card h-100">
              <img src="./images/lumber roll.jpg" height="230px"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lumbar roll</h5>
                <p class="card-text">This Round roll compresses easily whilst still providing essential medium-firm support. It suits larger framed people and those with a pronounced lumbar.</p>
              </div>
          </div>
      </div>
      
      <div class="col" onclick="product(9)">
        <div class="card h-100">
          <img src="./images/posterior limb.jpg" height="230px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">posterior limb (Adult)</h5>
            <p class="card-text">Next your physiotherapist will physically examine your foot and entire lower extremity. They will palpate, or touch, around your area of discomfort.</p>
          </div>
        </div>
      </div>
      <div class="col"  onclick="product(10)">
        <div class="card h-100">
          <img src="./images/quoriceps benches.jpg" height="230px"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quadriceps benches</h5>
            <p class="card-text">The Quadriceps Bench is a functional muscle exerciser, allowing a large number of exercises to be performed within minimum floor surface.
               as well as exercises in a reclining position (for instance knee flexion and hip stretching).</p>
          </div>
        </div>
      </div>
      <div class="col"  onclick="product(11)">
        <div class="card h-100">
          <img src="./images/Reciprocal pulley.jpg" height="230px"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Reciprocal pulley</h5>
            <p class="card-text">Reciprocal pulley / Pulley exercisers improve range of motion and coordination for those suffering with arthritis, shoulder or arm injuries, or post-surgery stiffness. They can also help with strengthening the arms, shoulders and chest.
               Pulley exercisers can be mounted over a door, on the floor, or attach to a wall.</p>
          </div>
        </div>
      </div>

      <div class="col"  onclick="product(12)">
        <div class="card h-100">
          <img src="./images/stiar case.jpg" height="230px"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stair case</h5>
            <p class="card-text">Training stairs are used by therapists to train patients with progressive stepping post-surgery or injury. 
              These stairs are designed ergonomically and provide a comfortable grip. These stairs are lined with anti-slip material that prevents falls during rehab.</p>
          </div>
      </div>
  </div>

  <div class="col"   onclick="product(13)">
    <div class="card h-100">
      <img src="./images/studing frames.jpg" height="230px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Standing frames</h5>
        <p class="card-text">Among the benefits that come with standing frames come healthy bone maintenance,
           leg muscle stretching, spasticity reduction, improved internal organ functions, improved posture, 
           and overall range of motion improvement.</p>
      </div>
    </div>
  </div>

  <div class="col"  onclick="product(14)">
    <div class="card h-100">
      <img src="./images/trunk support.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trunk support</h5>
        <p class="card-text">Position a foam block on each side of the child so that it provides lateral support of the pelvis and trunk, reaching up to mid thoracic level.</p>
      </div>
    </div>
  </div>
  <div class="col" onclick="product(15)">
    <div class="card h-100">
      <img src="./images/tunnel bath.jpg" height="230px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tunnel bath</h5>
        <p class="card-text">It is used to treat Painful hands and feet.</p>
      </div>
    </div>
  </div>
  <div class="col"  onclick="product(16)">
    <div class="card h-100">
      <img src="./images/wobble board.jpg" height="230px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">wobble board</h5>
        <p class="card-text">The 40cm wooden wobble board has been specifically designed to help treat and
           prevent knee and ankle injuries and can also be used to help improve your balance.</p>
      </div>
  </div>
</div>
<div class="col">
    <div class="card h-100">
      <img src="./images/prosthetic leg.jpg" height="230px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./images/hamstring.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    
    <div class="card h-100">
      <img src="./images/cork-up splint2.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./images/cork-up splint.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
  </div>
</div>
<div class="col">
    <div class="card h-100">
      <img src="./images/prosthetic leg.jpg" height="230px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./images/hamstring.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./images/cork-up splint2.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="./images/cork-up splint.jpg" height="230px"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
  </div>
</div>
    </div> -->
    


    <%- include('./partial/footer.ejs') %>


    <%- include('./partial/jsLinks.ejs') %> 

</body>
</html>