<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/head.ejs') %>
  </head>
  <body>
    <%- include('./partial/nav.ejs') %>
    <!-- The work begins from here -->
    <section id="mobile">
      <div class="goods">
        <div id="working">
          <div class="workImg">
            <img src="./images/sand bags.jpg" id="SalesImage" alt="" />
            <h3 id="NamePrice">
              Aeroplane splint<span
                >Sand Bags <br />
                <strong>
                  1kg-₦1,500, 1.5kg-₦2,000, 2kg-₦2,500, 2.5kg-₦3,000,
                  3kg-₦3,000, 4kg-₦4,500, 4kg-₦5,500
                </strong></span
              >
            </h3>
          </div>

          <div class="description">
            <div class="desc">
              <h3>description</h3>
              <p>
                For patient placement and rehabilitative assistance before and
                after surgical procedures, sandbags with handles are employed.
                Our medical sandbags are composed of heavy-duty vinyl and 4-way
                stretch fabrics that are anti-fungal, anti-bacterial, tear- and
                stain-resistant.
              </p>
              <button id="hide" onclick="view(20)">How to use</button>
            </div>
            <div id="view"></div>
            <h4 id="sucess"></h4>

            <div class="order">
              <button onclick="increment(1)">-</button>
              <span id="display">0</span>
              <button onclick="increment(2)">+</button>
            </div>
            <div id="cart">
              <button onclick="cart(20)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partial/footer.ejs') %>
    </section>

    <%- include('./partial/jsLinks.ejs') %>
  </body>
</html>
