<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %> 
<body>
  

    <div class="contact">
        <div class="content">
           <h1>Thanks for your patronage...
           </h1>
                <h3>Your order has been processed. You will receive an email shortly</h3>
        </div>
       
    </div>

</body>
</html>