<section class="Destop">
    <header>
      <div class="logo">
          <img src="/images/medical logo.png" alt="Medical logo" width="70" height="50">
      </div>
      <div class="head">
          <h2>Adamsonic medical products</h2>
      </div>
   
      <div class="contact">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
      </div>
  </header>
  </section>




  <section id="mobile">

  <div class="nav">

     <div class="logo">
      <a href="/">
       <img src="/images/medical logo.png" alt="Medical logo" width="60" height="40">
      </a>
   </div>
   <div class="cart">
    <a href="/cart">
    <i class='fas fa-cart-plus'> <span id="cart"><%= count %> </span></i>
  </a>
</div>

<button style="border: none; background:none;"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  <div class="menu">
    <div onclick="menu()"></div>
    <div onclick="menu()"></div>
    <div onclick="menu()"></div>
  </div>
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Adamsonic Medical and Physiotherapy Rehabilitating Equipment</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
       
   
 </div>

 <div id="off-canva">
  <div class="canva">
    <div class="items">
      <a href="/">Home</a>
    </div>
      <div class="items">
        <a href="/products">Products</a>
      </div>
      <div class="items">
        <a href="/about">About</a>
      </div>
      <div class="items">
        <a href="/contact">Contact </a>
      </div>
  </div>
</div>
    </div>
  </div>
</div>
  

</section>



